.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #6c7a5fe5;
}
.MainContainer {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.Left {
  display: flex;
  justify-content: left;
  width: 50%;
}
.Left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
}
.RightTop {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
  padding-left: clamp(
    21px,
    calc(21px + (239 * ((100vw - 320px) / 1120))),
    260px
  );
}
.RightTop h3 {
  font-size: var(--fs-22);
  color: #ffffff;
  font-family: var(--lexend);
  font-weight: 500;
}
.RightTop p {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  width: 70%;
  font-family: var(--lato);
}
.RightBottom {
  display: flex;
  justify-content: left;
  width: 100%;
}
.RightBottom img {
  width: 100%;
  height: 100%;
}
@media (max-width: 640px) {
  .MainContainer {
    gap: 21px;
  }
  .Left {
    width: 30%;
    height: 100%;
  }
  .Right {
    width: 70%;
  }
  .RightTop h3 {
    font-size: 20px;
  }
  .RightTop p {
    font-size: 15px;
  }
  .Left img {
    object-fit: cover;
    width: 100%;
    object-position: center;
    height: 100%;
    min-width: 152px;
    min-height: 495px;
  }
}
