.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-right: 400px;
  padding-left: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: white;
}

.privacy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.privacy h3 {
  text-align: left;
  font-size: var(--fs-48);
  color:#2F362A;
  margin-bottom: 10px;
}
.spantext{
  cursor: pointer;
  color: #6E736A;
  font-size: var(--fs-28);
}

.topContent {
  text-align: left;
  padding-bottom: 20px;
}

.mainContent {
  font-size: 1rem;
  color:#6E736A;
}

.textheadings {
  font-size: 1.5rem;
  font-weight: bold;
  color:#6E736A;
  margin-top: 30px;
  margin-bottom: 10px;
}

.listcontent {
  padding-left: 20px;
  margin: 0;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 16px;
  color: #6E736A;
  font-weight: 500;
}

.listcontent li {
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: var(--fs-18);
  font-weight: 500;
  color: #6E736A;
 
}

.privacy p {
  color:#2F362A;
  line-height: 1.7;
  margin: 0;
  font-size: var(--fs-24);
}
.bulletpoint{
  color: #6E736A;
  font-weight: 600;
  font-size: var(--fs-20);
  margin-right: 4px;
}

@media (max-width: 1440px) {
  .mainPage {
    padding-right: 300px;
    padding-left: 300px;
  }
}

@media (max-width: 1024px) {
  .mainPage {
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media (max-width: 768px) {
  .mainPage {
    padding-right: 10%;
    padding-left: 10%;
  }
}
