.Main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.BgBase,
.BgNext {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.BgBase {
  background-image: url("./2.jpg");
  z-index: 0;
}

.BgNext {
  background-image: url("./1.jpg");
  opacity: 0;
  z-index: 1;
}

.Grid {
  position: absolute;
  top: -100vh;
  left: -100vw;
  width: 300vw;
  height: 300vh;
  z-index: 2;
  will-change: transform;
}


.hTop,
.hBottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.6);
}

.hTop {
  top: calc(100vh + 107px);
}

.hBottom {
  top: calc(100vh + 107px + 350px);
}

.vLeft,
.vRight {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background: rgba(255, 255, 255, 0.6);
}

.vLeft {
  left: calc(100vw + 124px);
}

.vRight {
  left: calc(100vw + 124px + 544px);
}

.Card {
  position: absolute;
  top: calc(100vh + 107px);
  left: calc(100vw + 124px);
  max-width: 544px;
  min-height: 350px;
  background: #ffffff;

  padding:
    clamp(30px, calc(30px + (35 * ((100vw - 320px) / 1120))), 65px)
    clamp(30px, calc(30px + (56 * ((100vw - 320px) / 1120))), 86px)
    clamp(30px, calc(30px + (135 * ((100vw - 320px) / 1120))), 150px)
    clamp(30px, calc(30px + (37 * ((100vw - 320px) / 1120))), 67px);

  display: flex;
  flex-direction: column;
  gap: clamp(10px, calc(10px + (20 * ((100vw - 320px) / 1120))), 30px);
}

@media (max-width: 640px) {
  .Grid {
    top: -100vh;
    left: -100vw;
    width: 300vw;
    height: 300vh;
  }

  .Card {
    top: calc(100vh + 40px);
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
     min-height: 163px;
  }

  .hTop {
    top: calc(100vh + 38px);
  }

  .hBottom {
    top: calc(100vh + 24px + 250px);
  }

  .vLeft,
  .vRight {
    top: calc(100vh + 24px);
    height: 260px;
  }

  .vLeft {
    left: calc(50vw - 44vw);
  }

  .vRight {
    left: calc(50vw + 44vw);
  }
}



@media (min-width: 641px) and (max-width: 940px) {
  .Card {
    max-width: 350px;
    max-height: 163px;
  }

  .vRight {
    left: calc(100vw + 124px + 460px);
  }
}


@media (min-width: 941px) and (max-width: 1400px) {
  .Card {
    max-width: 520px;
  }

  .vRight {
    left: calc(100vw + 124px + 520px);
  }
}
