.Main {
  width: 100%;
  height: auto;
  background-color: #F5F8F2;
  padding: 14px 44px 14px 44px;
  position: fixed;
  top: 0;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}
.hide {
  transform: translateY(-100%);
}
.MainCoantiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.MiddleContainer {
  display: flex;
  justify-content: left;
  margin-left: 150px;
}
.MiddleContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 130px;
  max-height: 78px;
}
.RightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}
.RightContainer p {
  font-family: var(--lexend);
  color: #6c7a5f;
  font-size: var(--fs-20);
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}
.LeftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}
.LeftContainer p {
  font-family: var(--lexend);
  color: #6c7a5f;
  font-size: var(--fs-20);
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}
.active p {
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: 500;
  color: #6c7a5f;
}

.RightContainer a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  .Main {
    padding: 10px 20px 10px 20px;
  }
  .MiddleContainer {
    margin-left: 0px;
  }
  .MiddleContainer img {
    max-width: 100px;
    max-height: 60px;
  }
  .RightContainer {
    gap: 24px;
  }
  .RightContainer p {
    font-size: 15px;
  }
  .LeftContainer {
    display: none;
  }
  .LeftContainer p {
    font-size: 15px;
  }
}